<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div id="app">
            <h1>Hello App!</h1>
            <p>
                <router-link to="/foo">foo</router-link>
                <router-link to="/bar">bar</router-link>
            </p>

            <router-view></router-view>
            <router-view name="a"></router-view>
            <router-view name="b"></router-view>
        </div>

        <script src="../../../../node_modules/vue/dist/vue.js"></script>
        <script src="../../../../node_modules/vue-router/dist/vue-router.js"></script>
        <script>
            const Foo = {
                template: '<p>foo</p>'
            };
            const Bar = {
                template: '<p>bar<button @click="goBack">返回</button></p>',
                methods: {
                    goBack() {
                        //debugger;
                        // window.history.length > 1
                        //     ? this.$router.go(-1)
                        //     : this.$router.push('/');
                        // this.$router.push({
                        //     //name: 'user',
                        //     //params: { id: '123' }
                        //     path: '/foo',
                        //     query: { plan: 'private' }
                        // });

                        this.$router.replace(
                            '/foo',
                            function() {
                                console.log(111);
                            },
                            function() {
                                console.log(222);
                            }
                        );
                    }
                }
            };

            const User = {
                template: `<div>
                    <h2>User {{$route.params.id}}</h2>
                    <router-view></router-view>
                    </div>`,
                watch: {
                    $route(to, from) {
                        console.log(to);
                    }
                }
            };

            const UserHome = {
                template: '<div>userhome</div>'
            };

            const UserProfile = {
                template: '<div>userprofile</div>'
            };

            const NotFoud = {
                template: '<div>404</div>'
            };

            let routes = [
                {
                    path: '/',
                    components: {
                        default: Foo,
                        a: Foo,
                        b: Bar
                    }
                },
                {
                    name: 'foo',
                    path: '/foo',
                    component: Foo
                },
                {
                    name: 'bar',
                    path: '/bar',
                    component: Bar
                },
                {
                    name: 'user',
                    path: '/user/:id',
                    component: User,
                    children: [
                        {
                            path: 'profile',
                            component: UserProfile
                        },
                        {
                            path: '',
                            component: UserHome
                        }
                    ]
                },
                {
                    // 会匹配所有路径
                    path: '*',
                    component: NotFoud
                }
            ];

            let router = new VueRouter({
                routes
            });

            var vm = new Vue({
                router
            }).$mount('#app');
        </script>
    </body>
</html>
