
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <ul id="example1">
        <li v-for="(item, index) in items">
            {{parentMessage}} - {{ item.message }} {{index}}
        </li>
    </ul>


    <ul id="example2">
        <li v-for="value of object">
            {{value}}
        </li>
        <li v-for="(name, key, index) in object">
            {{key}}: {{name}} : {{index}}
        </li>
    </ul>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script>

        var vm = new Vue({
            el: '#example1',
            data() {
                return {
                    parentMessage: 'Parent',
                    items: [
                        { message: 1111111111111 },
                        { message: 2222222222222 },
                        { message: 3333333343333 },
                        { message: 4444444444444 }
                    ]
                };
            }
        });

        var vm = new Vue({
                el: '#example2',
                data() {
                    return {
                        object: {
                            key1: 11111,
                            key2: 22222,
                            key3: 33333
                        }
                    };
                }
            });


    </script>
</body>

</html>